/* COLOR REFERENCES 

green:      #79b044
salmon      #dd5638
blue gray:  #3e4249

*/

/* GENERAL */

body {
    margin-top: 56px;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 16px;
    background: url(../img/tile.jpg) top left repeat;
}

/* GLOBAL */

strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: normal;
}

a:link, a:visited {
    color: #dd5638;
}

a:hover {
    text-decoration: none;
    color: #c9302c;
}

button, input, .btn, a.btn {
    text-rendering: optimizeLegibility;
    color: white;
}

.btn {
    font-weight: bold;
}

.btn-danger {
    background-color: #dd5638;
    border-color: #d95131;
}

.btn-success {
    background-color: #79b044;
    border: none;
}

.btn-success:hover {
    background-color: #6a9b3d;
    border-color: #6a9b3d
}

img {
    max-width: 100%;
}

.modal-content {
    background: url(../img/tile.jpg) top left repeat;
}

.badge.social {
    background: #ccc;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 41px;
    margin: 0 5px 20px 0;
    padding: 0;
    border-radius: 100%;
    color: white;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.gplus:hover {
    background: #db4b39;
}

blockquote {
    padding: 0;
    text-align: left;
    font-style: italic;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
}

/* HERO */

#hero {
    background: url(../img/hero-bg.jpg) 50% 0 fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
    text-rendering: optimizeLegibility;
}

#hero article {
    width: 100%;
    text-align: center;
}

#hero .hero-text {
    margin-top: 30px;
}

#price-timeline {
    display: flex;
    flex-direction: row;
    margin: 30px 0 60px;
    text-align: center;
}

#price-timeline .price {
    margin: 0 2% 0 0;
    width: 30%;
    padding: 10px 20px 30px;
    background: #3e4249;
    position: relative;
}

#price-timeline .price.active {
    background: #dd5638;
}

#price-timeline .price span {
    background: #010101;
    display: block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    bottom: -35px;
    margin-left: -35px;
}

#price-timeline h4 {
    margin: 0 0 10px;
}

/* LAYOUT */

section {
    padding: 80px 0;
}

section.main-content {
    padding: 0;
}

.section-header {
    text-align: center;
}

section h2 {
    margin: 20px 0 40px;
}

section h3 {
    margin: 30px 0 10px;
}

#primary {
    padding: 40px 0 40px;
}

.feature-image {
    width: 100%;
    display: flex;
}

.feature-image-default {
    background: url(../img/stuff-feature.jpg) no-repeat;
    background-size: cover;
}

.feature-image-default-alt {
    background: url(../img/hipster-stuff.jpg) 50% 0% no-repeat fixed;
    background-size: cover;
}

.feature-image h1 {
    color: white;
    text-align: center;
    margin: auto;
}

#optin {
    background: #3e4249;
    padding: 20px 0;
    color: white;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
}

#optin p {
    margin: 7px 0 0 0;
}

#who-benefits {
    background: white;
}

#course-features {
    background: #3e4249;
    color: white;
    text-align: center;
}

#project-features {
    text-align: center;
}

#featurette {
    background: url(../img/stuff-bg.jpg) 50% 100% repeat fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

#socials-col {
    text-align: center;
}

#instructor {
    background: white url(../img/brad-elvis.png) 90% -10px no-repeat;
}

#instructor h2 {
    margin: 0 0 20px;
}

#instructor .num {
    display: table;
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 24px;
    height: 140px;
    width: 140px;
    text-align: center;
    background: #dd5638;
    border-radius: 100%;
    margin: 20px 0 20px;
}

#instructor .num .num-content {
    display: table-cell;
    vertical-align: middle;
}

#instructor .num span {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

#kudos {
    text-align: center;
}

.testimonial {
    margin-bottom: 60px;
}

.testimonial img {
    border-radius: 100%;
}

#signup {
    text-align: center;
    background: url(../img/hipster-stuff.jpg) center center repeat fixed;
    background-size: cover;
    color: white;
    padding: 140px 0;
}

#signup h2 {
    font-weight: normal;
}

#signup h2 strong {
    border-bottom: solid 2px #dd5638;
}

#signup .btn {
    font-size: 24px;
}

footer {
    background: #3e4249;
    color: white;
    padding: 20px 0 10px;
    font-size: 12px;
}

footer p {
    margin: 0;
}

footer a:link, footer a:visited {
    color: white;
}

footer a:hover {
    color: #dd5638;
}

footer li.signup-link a {
    color: #dd5638;
}

footer li.signup-link a:hover {
    font-weight: bold;
}

/* BLOG */

.post, .widget, #comments {
    position: relative;
    border: solid 1px #ddd;
    background: white;
    margin: 0 0 40px;
    border-radius: 4px;
}

.post header, .post .post-excerpt, .post .post-body, #comments .comments-wrap {
    padding: 20px
}

.post header h3, .post header h1 {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: solid 1px #ddd;
}

.post header h1 {
    font-size: 24px;
}

/* prevent a conflict with WordPress */

.post-image {
    height: auto;
}

.post-details {
    font-size: 12px;
    width: 90%;
}

.post-details i.fas {
    padding-left: 10px;
}

.post-details i.fas:first-child {
    padding-left: 0px;
}

/* WIDGET */

.widget {
    padding: 20px;
}

.widget h4 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ddd;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    margin: 0 0 5px;
}

.widget ul li:hover {
    position: relative;
    left: 1px;
}

/* COMMENTS */

.post-comments-badge {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 33px;
    right: 20px;
    border: none;
    border-radius: 100%;
    background: #79b044;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
}

.post-comments-badge a {
    color: white;
}

.post-comments-badge:hover {
    background-color: #8bc653;
}

#comments h3 {
    text-align: center;
}

#comments h4 {
    font-size: 1.3em;
}

#comments ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comments ol li {
    background: rgba(0, 0, 0, 0.02);
    /* each reply will be darker */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

#comments ol li ol.children {
    padding: 0;
    list-style: none;
    font-size: 0.96em;
    /* each reply will be smaller */
}

#leave-comment {
    margin: 40px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #eee;
}

/* RESOURCES */

.resource-row {
    display: flex;
    flex-flow: row wrap;
    /* items are wrapped onto multiple lines */
    justify-content: center;
}

.resource {
    margin: 20px auto;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.resource h3 {
    margin: 20px 0;
}

.resource h3, .resource img {
    text-align: center;
}

/* CUSTOM ICON SPRITES */

i.ci {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(../img/icon-sprite.png) no-repeat;
}

.ci.ci-computer {
    background-position: 0 0
}

.ci.ci-watch {
    background-position: -40px 0
}

.ci.ci-calendar {
    background-position: -80px 0
}

.ci.ci-community {
    background-position: -120px 0
}

.ci.ci-instructor {
    background-position: -160px 0
}

.ci.ci-device {
    background-position: -200px 0
}

/* FORMS */

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input[type="submit"], button[type="submit"] {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center; 
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 6px;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    outline: none;
    border: none;
    background: #aaa;
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    #instructor .container {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 50%;
    }
    #instructor .num {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }
    #instructor .num span {
        font-size: 15px;
    }
}